body{
    margin: 0;
    text-align: center;
}
.header{
    background-color: #fff;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}
.main-nav{
    display: flex;
    /* padding: 6px; */
    margin: 0;
    list-style: none;
    font-size: 1.4em;
}
li{
    padding: 20px;
}
a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-size: 1.4em;
}
a:hover{
    color: #9d8189;
}
.last{
    margin-left: auto;
}
@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 0.9em;
        padding: 0;
    }
}
.About-section{
    text-align: center;
}
.about{
    font-family: 'Sacramento', cursive;
    margin-top: 120px;
    margin-bottom: 40px;
    padding: 15px auto;
    font-size: 7rem;
}
.image{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 15px;
}
.about-me{
    line-height: 1.2;
     width: 50%;
     margin: 0 auto 80px auto;
     font-weight: normal;
     font-family: 'Quattrocento Sans', sans-serif;
     font-size: 1.5rem;
} 
.image-section{
    max-width: 30%;
}
.red{
    background-color: #f7fff7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.skill-set{
    line-height: 1.2;
    text-align: center;
    margin: 25px;
    padding: 20px;
    font-size: 4rem;
}
.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    
    font-size:2rem;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.color{
    background-color: #f7fff7;
}
.project{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-bottom: 60px;
}
.big > img{
   width: 100%;
}
.big{
    padding: 50px;
    margin: 50px;
    background-color: #fff;
}
 @media only screen and (max-width: 600px){
    .big{
        padding: 20px;
        margin: 20px;
    }
} 
.center{
    color: #000;
    text-align: center;
}
.footer{
    background-color:#fff;
    margin: 0;
    padding: 10px;
    text-align: center;
}
a{
    padding: 5px 10px;
    text-align: center;
    font-size: 2rem;
    color: black;
}
@media only screen and (max-width: 600px){
    a{
        font-size: 0.9rem;
    }
}
p{
    margin: 0;
    padding-top: 8px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 10px;
}
.contact-me{
    line-height: 1.2;
    width: 25%;
    margin: 0 auto 80px auto;
    font-weight: normal;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}
.contact{
    text-align: center;
}
button{
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 3px 10px;
    border:1px solid #bbb;
    transition: all 0.3s linear; 
    color: #000;
    background-color: #fff; 
}
button:hover{
    background-color: #f7fff7;
    box-shadow: (0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
